@model GetTopicVM

<div class="container">
    <div class="row my-4">
        <div class="col-lg-8">
            <div class="topic-content">
                <div class="topic-header">
                    <div class="topic-author">
                        <a asp-controller="user" asp-action="index" asp-route-id="@Model.AuthorUsername">
                            <img src="~/uploads/images/user/@Model.AuthorImage" alt="">
                            @Model.AuthorFullName
                        </a>
                        <span class="author-level">@Model.AuthorLevel</span>
                    </div>
                    <div class="topic-create-date">
                        Asked: <span class="date">@Model.CreateDate</span>
                    </div>
                </div>

                <div class="topic-body">
                    <div class="topic-title">
                        <a>@Model.Title</a>
                    </div>
                    <div class="topic-context">
                        <p>@Html.Raw(Model.Content)</p>
                    </div>
                    <div class="topic-categories">
                        <ul>
                            <li><a>@Model.TopicCategory.Name</a></li>
                        </ul>
                    </div>
                </div>

                <div class="topic-statistics">
                    <div class="statistics-left">
                        <p><i class="fa-solid fa-eye"></i> @Model.ViewCount Views</p>
                        <p><i class="fa-solid fa-message"></i> @Model.AnswerCount Answers</p>
                    </div>
                    <div class="statistics-right">
                        @if(Model.AreYouAuthor) {
                            <a asp-controller="topic" asp-action="edit" asp-route-id="@Model.Id" class="me-3"><i class="fa-solid fa-pen me-1"></i></a>
                            <a asp-controller="topic" asp-action="delete" asp-route-id="@Model.Id" class="me-3"><i class="fa-solid fa-trash"></i></a>
                        }
                        @if(User.Identity.IsAuthenticated){
                            @if (Model.IsInBookmarks)
                            {
                                <a class="text-danger" asp-controller="bookmark" asp-action="removefrombookmarks" asp-route-id="@Model.Id"><i class="fa-solid fa-bookmark"></i></a>

                            }
                            else
                            {
                                <a asp-controller="bookmark" asp-action="addtobookmarks" asp-route-id="@Model.Id"><i class="fa-solid fa-bookmark"></i></a>

                            }
                        }
                        
                    </div>
                </div>
            </div>
            <div class="topic-answers">
                <div class="d-flex justify-content-between align-items-center">
                    <h4>@Model.AnswerCount Answers</h4>
                    <a class="btn text-white bg-success mb-4" asp-controller="answer" asp-action="postanswer" asp-route-id="@Model.Id">Write answer</a>
                </div>

                @foreach (GetAnswerVM answer in Model.Answers)
                {
                    <div class="topic-answer">
                        <div class="row">
                            <div class="col-1">
                                <div class="vote-actions">
                                    @if(answer.IsVotedByYou) {
                                        @if(answer.YourVote == "up") {
                                            <a asp-controller="answer" asp-action="UseVote" asp-route-id="@answer.Id" asp-route-usedVote="true" class="upVoteBtn upvote focus"><i class="fa-solid fa-caret-up"></i></a>
                                        }else {
                                            <a asp-controller="answer" asp-action="UseVote" asp-route-id="@answer.Id" asp-route-usedVote="true" class="upVoteBtn upvote"><i class="fa-solid fa-caret-up"></i></a>
                                        }
                                        <span class="votecount">@answer.VoteCount</span>

                                        @if (answer.YourVote == "down")
                                        {
                                            <a asp-controller="answer" asp-action="UseVote" asp-route-id="@answer.Id" asp-route-usedVote="false" class="downVoteBtn downvote focused"><i class="fa-solid fa-caret-down"></i></a>
                                        }
                                        else
                                        {
                                            <a asp-controller="answer" asp-action="UseVote" asp-route-id="@answer.Id" asp-route-usedVote="false" class="downVoteBtn downvote"><i class="fa-solid fa-caret-down"></i></a>
                                        }
                                    }else {
                                        <a asp-controller="answer" asp-action="UseVote" asp-route-id="@answer.Id" asp-route-usedVote="true" class="upVoteBtn upvote"><i class="fa-solid fa-caret-up"></i></a>
                                        <span class="votecount">@answer.VoteCount</span>
                                        <a asp-controller="answer" asp-action="UseVote" asp-route-id="@answer.Id" asp-route-usedVote="false" class="downVoteBtn downvote"><i class="fa-solid fa-caret-down"></i></a>
                                    }
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="answer-header">
                                    <div class="answer-author">
                                        <a asp-controller="user" asp-action="index" asp-route-id="@answer.AuthorUsername">
                                            <img src="~/uploads/images/user/@answer.AuthorImage" alt="">
                                            @answer.AuthorFullname
                                        </a>
                                        <span class="author-level">
                                            @answer.AuthorLevel
                                        </span>
                                    </div>
                                    <div class="answer-date">
                                        Answered: <span>@answer.CreateDate</span>
                                    </div>

                                </div>
                                <div class="answer-body">
                                    <p class="answer-context">@Html.Raw(answer.Content)</p>
                                </div>
                                <div class="answer-actions">
                                    @if(answer.AreYouAuthor) {
                                        <a asp-controller="answer" asp-action="editanswer" asp-route-id="@answer.Id"><i class="fa-solid fa-pen me-1"></i> Edit</a>
                                        <a asp-controller="answer" asp-action="deleteanswer" asp-route-id="@answer.Id"><i class="fa-solid fa-trash"></i> Delete</a>
                                    }
                                    @if(User.Identity.IsAuthenticated) {
                                        <a data-id="@answer.Id" class="add-comment-btn"><i class="fa-solid fa-comment"></i> Add comment</a>
                                    }
                                </div>
                            </div>
                        </div>

                        @if(answer.CommentCount != 0) {
                            <div class="answer-comments">
                                <h6>Comments - <span>@answer.CommentCount</span></h6>
                                @foreach (GetCommentVM comment in answer.Comments)
                                {
                                    <div class="comment">
                                        <a class="comment-author-image" asp-controller="user" asp-action="index" asp-route-id="@comment.AuthorUsername"><img src="~/uploads/images/user/@comment.AuthorImage" alt=""></a>
                                        <div>
                                            <div class="comment-header">
                                                <div class="comment-author">
                                                    <a asp-controller="user" asp-action="index" asp-route-id="@comment.AuthorUsername">@comment.AuthorFullname</a>
                                                </div>
                                                <div class="comment-date">@comment.CreateDate</div>
                                                @if(comment.AreYouAuthor) {
                                                    <a asp-controller="comment" asp-action="deletecomment" asp-route-id="@comment.Id" class="ms-3 delete-comment"><i class="fa-solid fa-trash"></i> Delete</a>
                                                }
                                            </div>

                                            <div class="comment-body">
                                                <p>@comment.Content</p>
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>
                        }
                        
                    </div>
                }
            </div>
        </div>

        <div class="col-lg-4">
            <footer>
                <div class="row">
                    <div class="col-12">
                        <p class="copyright">
                            Forum Inc © 2022. All rights reserved
                        </p>
                    </div>
                </div>
            </footer>
        </div>


    </div>

</div>

@foreach (GetAnswerVM answer in Model.Answers)
{
    <form class="add-comment-box" data-target="@answer.Id" method="post">

        <input type="text" name="comment" placeholder="Comment input">
        <button asp-controller="comment" asp-action="postcomment" asp-route-id="@answer.Id" type="submit" class="text-white post-btn">Post</button>
        <a class="close-comment-box"><i class="fa-solid fa-x"></i></a>
    </form>

}