@model PostAnswerVM

<div class="container">
    <div class="row my-4">
        <div class="col-lg-8">
            <div class="post-topic-header">
                <h4>Post answer</h4>
                <a asp-controller="topic" asp-action="index" asp-route-id="@ViewData["TopicId"]">Cancel</a>
            </div>

            <div class="post-topic-body">
                <form method="post">

                    <div class="input-group mt-4">
                        <textarea asp-for="@Model.Content" id="editor" placeholder="Your answer"></textarea>
                        <span asp-validation-for="@Model.Content" class="mb-2"></span>
                    </div>
                    <input asp-for="@Model.TopicId" type="hidden" value="@ViewData["TopicId"]" />
                    <button type="submit">Post answer</button>
                </form>
            </div>
        </div>

        <div class="col-lg-4">
            <footer>
                <div class="row">
                    <div class="col-12">
                        <p class="copyright">
                            Forum Inc © 2022. All rights reserved
                        </p>
                    </div>
                </div>
            </footer>
        </div>


    </div>

</div>







@section CkEditor {
    <script src="~/assets/vendors/ckeditor5-build-classic/"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/34.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#editor'));
    </script>
}