@inject IDefaultValueService _defaultValueService;
@inject UserManager<AppUser> _userService;
@inject IImageService _imageService;
@inject IUserImageService _userImageService;
@inject RoleManager<IdentityRole> _roleService;

@{
    Dictionary<string, string> values = (await _defaultValueService.GetAll()).ToDictionary(n => n.Key, n => n.Value);

    string currentUserImage = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/assets/style/css/main.css">
    <script src="https://kit.fontawesome.com/fed86a3182.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="dark-layer" id="darkLayer">
    </div>
    <header class="position-sticky top-0">
        <div class="header-left">
            <a asp-controller="home" asp-action="index" class="header-logo">
                <img src="~/uploads/default/@values["AppLogo"]" alt="">
            </a>
            <nav id="headerNavbar">
                <ul>
                    <li><a asp-controller="home" asp-action="index">Home</a></li>
                    @if(User.Identity.IsAuthenticated) {
                        <li><a asp-controller="user" asp-action="bookmarks">Bookmarks</a></li>
                    }
                </ul>
            </nav>


        </div>

        <div class="header-right">
            <div class="dark-mode-switch">
                <label class="switch" id="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                    <i class="fa-solid fa-sun"></i>
                    <i class="fa-solid fa-moon"></i>
                </label>
            </div>
            <div class="search-header">
                <button class="search-btn" id="searchBtn"><i class="fa-solid fa-magnifying-glass"></i></button>

            </div>

            @if (User.Identity.IsAuthenticated)
            {
                AppUser currentUser = await _userService.FindByNameAsync(User.Identity.Name);
                List<UserImage> userImages = await _userImageService.GetAllByUserId(currentUser.Id);

                foreach (UserImage image in userImages)
                {
                    if (image.Target == "profile")
                    {
                        currentUserImage = image.Image.Name;
                    }
                }

                <div class="header-user-box">
                    <a class="header-user" id="headerUser">
                        <img src="~/uploads/images/user/@currentUserImage" alt="">
                        <span>@User.Identity.Name</span>
                        <i class="fa-solid fa-chevron-down"></i>

                    </a>
                </div>
            }
            else
            {
                <div class="login-register-btn-box">
                    <a class="login-btn" asp-controller="account" asp-action="login">Login</a>
                    <a class="register-btn" asp-controller="account" asp-action="register">Register</a>
                </div>
            }



            <a class="hamburgerMenuBtn" id="hamburgerMenuBtn">
                <span class="hamburgerSpan"> </span>
                <span class="hamburgerSpan"> </span>
                <span class="hamburgerSpan"> </span>
            </a>
        </div>

    </header>
    <div class="search-area" id="searchArea">
        <form method="get">
            <div class="search-box">
                <input type="text" name="content" placeholder="Search">
                <button asp-controller="home" asp-action="search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="user-nav" id="userNav">
            <ul>
                <li><a asp-controller="user" asp-action="index" asp-route-id="@User.Identity.Name"><i class="fa-solid fa-user"></i> Your profile</a></li>
                <li><a asp-controller="user" asp-action="bookmarks"><i class="fa-solid fa-bookmark"></i> Your bookmarks</a></li>
                <li><a asp-controller="user" asp-action="index" asp-route-id="@User.Identity.Name"><i class="fa-solid fa-message"></i> Your topics</a></li>
                
                @if(await _userService.IsInRoleAsync(await _userService.FindByNameAsync(User.Identity.Name), "Admin")) {
                    <hr>
                    <li><a asp-area="admin" asp-controller="dashboard" asp-action="index"><i class="fa-solid fa-screwdriver-wrench"></i> Admin panel</a></li>
                }
                <hr>
                <li><a asp-controller="account" asp-action="logout"><i class="fa-solid fa-right-from-bracket"></i> Sign out</a></li>
            </ul>
        </div>
    }


    <nav id="mobileNavbar">
        <div class="mobile-links">
            <ul>
                <li><a asp-controller="home" asp-action="index">Home</a></li>
                @if(User.Identity.IsAuthenticated) {
                        <li><a asp-controller="user" asp-action="bookmarks">Bookmarks</a></li>
                    }
            </ul>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="mobile-user-bar">
                <a class="mobile-user header-user">
                    <img src="~/uploads/images/user/@currentUserImage" alt="">
                    <span>@User.Identity.Name</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </a>
            </div>
        }
        else
        {
            <div class="login-register-btn-box">
                <a class="login-btn" asp-controller="account" asp-action="login">Login</a>
                <a class="register-btn" asp-controller="account" asp-action="register">Register</a>
            </div>
        }

    </nav>

    <main>
        @RenderBody()
    </main>

    <script src="~/assets/script/hamburger.js"></script>
    <script src="~/assets/script/search.js"></script>
    <script src="~/assets/script/userNav.js"></script>
    <script src="~/assets/script/comment.js"></script>
    <script src="~/assets/script/darkMode.js"></script>

    @RenderSection("CkEditor", required: false)
</body>

</html>