@model List<GetTopicVM>

@foreach (GetTopicVM topicVM in Model)
{
    <div class="topic for-loadmore-calc">
        <div class="topic-header">
            <a asp-controller="user" asp-action="index" asp-route-id="@topicVM.AuthorUsername" class="topic-author">
                <img class="author-image" src="~/uploads/images/user/@topicVM.AuthorImage" alt="">
                @topicVM.AuthorFullName
                <span class="author-level">@topicVM.AuthorLevel</span>
            </a>
            <p class="topic-create-date">
                Asked: <span class="date">@topicVM.CreateDate</span>
            </p>
        </div>
        <div class="topic-body">
            <a asp-controller="topic" asp-action="index" asp-route-id="@topicVM.Id">@topicVM.Title</a>
            <p>
                @Html.Raw(topicVM.Content)
            </p>
            <ul>
                <li><a>@topicVM.TopicCategory.Name</a></li>
            </ul>
        </div>
        <div class="topic-footer">
            <div class="topic-footer-left">
                <div class="topic-view-count">
                    <i class="fa-solid fa-eye"></i> <span class="view-count"> @topicVM.ViewCount Views</span>
                </div>

                <div class="topic-answer-count">
                    <i class="fa-solid fa-message"></i> <span class="answer-count"> @topicVM.AnswerCount Answers</span>
                </div>
            </div>
            <div class="topic-footer-right">
                <a href="#"><i class="fa-solid fa-bookmark"></i></a>
            </div>
        </div>
    </div>
}