@model AboutUserVM

<div class="container">
    <div class="user-header" style="background-image: url('/uploads/images/user/@Model.User.BannerImage');
    background-position: center;
    background-size: cover;
    background-color: #161b22">
        <div class="user">
            <div class="user-name">
                <img src="~/uploads/images/user/@Model.User.ProfileImage" alt="">
                <a>@Model.User.Name @Model.User.Surname</a>
                <span class="user-level">@Model.User.Level</span>
            </div>

        </div>

        <div class="user-actions">
            <ul>
                <li><a asp-controller="user" asp-action="index" asp-route-id="@Model.User.Username"><i class="fa-solid fa-message"></i> Topics</a></li>
                <li><a asp-controller="user" asp-action="about" asp-route-id="@Model.User.Username"><i class="fa-solid fa-at"></i> About</a></li>

                @if (Model.User.Username == User.Identity.Name)
                {
                    <li><a asp-controller="account" asp-action="editaccount"><i class="fa-solid fa-pen-to-square"></i> Edit</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-lg-8">
            <h3 class="about-user-header">About user</h3>
            <div class="about-user-body">@Html.Raw(Model.About)</div>
        </div>

        <div class="col-lg-4">
            <footer>
                <div class="row">
                    <div class="col-12">
                        <p class="copyright">
                            Forum Inc © 2022. All rights reserved
                        </p>
                    </div>
                </div>
            </footer>
        </div>


    </div>

</div>