@model EditVM

<div class="container">
    <div class="row my-4">
        <div class="col-lg-8">
            <div class="post-topic-header">
                <h4>Edit account</h4>
                <div>
                    <a class="me-2" asp-controller="account" asp-action="changepassword">Change password</a>
                    <a asp-controller="user" asp-action="index" asp-route-id="@User.Identity.Name">Cancel</a>
                </div>
            </div>

            <div class="post-topic-body">
                <form method="post">

                    <label asp-for="@Model.Name">
                        <input asp-for="@Model.Name" placeholder="Name">
                        <span>Topic title</span>
                    </label>
                    <span asp-validation-for="@Model.Name" class="mb-2 text-danger"></span>

                    <label asp-for="@Model.Surname">
                        <input asp-for="@Model.Surname" placeholder="Surname">
                        <span>Surname</span>
                    </label>
                    <span asp-validation-for="@Model.Surname" class="mb-2 text-danger"></span>

                    <div class="input-group mt-4">
                        <textarea asp-for="@Model.About" id="editor" placeholder="About"></textarea>
                        <span asp-validation-for="@Model.About" class="mb-2 text-danger"></span>
                    </div>

                    <button type="submit" class="mb-2">Confirm changes</button>
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

                </form>
            </div>
        </div>

        <div class="col-lg-4">
            <footer>
                <div class="row">
                    <div class="col-12">
                        <p class="copyright">
                            Forum Inc © 2022. All rights reserved
                        </p>
                    </div>
                </div>
            </footer>
        </div>


    </div>

</div>







@section CkEditor {
    <script src="~/assets/vendors/ckeditor5-build-classic/"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/34.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#editor'));
    </script>
}